p{
    background-color: #ebe2d0;
    height:200px;   
    display: grid;
    justify-content: start;
    align-content: center;
    padding: 10px;
    font-size: 50px;
}
#daRk, .paRa-2{
    margin-top: -16px;
}
